.create-account-container {
  font-family: 'Assistant', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 460px;  
}

.create-account-header { 
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.email-box, .password-box, .firstname-box, .lastname-box, .address-box { 
  height: 52px;
  margin-bottom: 18px;
}

.email-input, .password-input, .firstname-input, .lastname-input, .address-input {
  font-size: 16px;
  width: 405px;
  padding: 15px 15px; 
  border-style: solid;
  border-width: 1px;
}

.email-input::placeholder, .password-input::placeholder, .firstname-input::placeholder, .lastname-input::placeholder, .address-input::placeholder { 
  font-size: 15px;
}

.email-input:hover, .password-input:hover, .firstname-input:hover, .lastname-input:hover, .address-input:hover { 
  box-shadow: 0px 0px 2px black;
}

.reminder { 
  color: #121212D9;
  font-size: 15px;
  margin-bottom: 40px;
}

.login { 
  color: black;
  font-size: 15px;
  text-decoration-color: black;
  text-underline-offset: 4px;
}

.login:hover { 
  text-decoration-thickness: 2px;
}

.login { 
  margin-right: 240px;
}

.create-btn { 
  font-size: 14px;
  color: rgb(232, 232, 232);
  background-color: black;
  border: none;
  padding: 15px 40px 14px 40px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  cursor: pointer;
}

.signin-btn:hover { 
  opacity: 0.8;
}
