  .add-product-container {
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 800px;
    margin-top: 200px;
    margin-left: 480px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    padding: 20px 45px 20px 45px;
  }

  .product-name-container {
    display: flex;
    margin-bottom: 20px;
  }

  .product-name-input {
    font-size: 18px;
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding-left: 20px;
  }

  .product-category-status-container {
    display: flex; 
  }

  .category-select, .status-select{
    color: rgb(102, 102, 102);
    font-size: 18px;
    width: 350px;
    padding: 11px 0px 12px 15px;
    border: none;
    border-color: black;
  }

  .category-select {
    margin-right: 20px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: solid;
  }

  .status-select { 
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: solid;
  }

  .product-quantity-price-photo-container { 
    display: flex;
    margin-top: 20px;
  }

  .quantity-input, .price-input {
    font-size: 18px;
    width: 180px;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: solid;
    margin-right: 18px;
    padding-left: 18px;
  }

  .add-product-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .add-product-button { 
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .add-product-button:hover {
    opacity: 0.8;
  }

  .quantity-icon, .price-icon, .add-product-icon, .add-product-category-icon, .add-product-status-icon, .image-icon   { 
    width: 45px;
    background-color: white;
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .custom-file-upload {
    font-size: 18px;
    opacity: 0.7;
    align-content: center;
    border-style: solid;
    width: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    padding-left: 15px;
    overflow-x: hidden;
  }

  .custom-file-upload:hover {
    background-color: rgb(236, 236, 236);
    font-weight: bold;
  }

  #file-upload {
   display: none;
  }


  


  
  