.add-user-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 200px;
  margin-left: 480px;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  padding: 20px 45px 20px 45px;
  gap: 20px;
}

.fullname, .user-account, .user-role-status {
  display: flex;
  justify-content: space-between;
}

.input-container { 
  display: flex;
  align-items: center;
  border-style: solid;
  border-radius: 12px;
}

.input {
  font-size: 18px;
  border: none;
  outline: none;
  width: 312px;
  margin-left: 20px;
}

.icons { 
  width: 45px;
  border-right-style: solid;
}

.user-status, .add-user-role{
  font-size: 18px;
  height: 100%;
  width: 335px;
  outline: none;
  border: none;
  padding-left: 18px;
  border-radius: 16px;
}
.add-user { 
  display: flex;
  justify-content: center;
}

.btn-add-user { 
  margin-top: 15px;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-add-user:hover { 
  opacity: 0.8;
}

