.main-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 1320px;
  margin-top: 100px;
  margin-left: 230px;
}

.initial-information {
  display: flex;
  gap: 40px;
}

.information-container {
  display: flex;
}

.icon-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c2120;
  height: 180px;
  width: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.icons {  
  width: 100px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  background-color: #F4F6FC;
  height: 180px;
  width: 150px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.number {
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: bold;
}

.title {
  font-family: 'Roboto';
  letter-spacing: 1px;
}

.statistical-information {
  background-color: red;
  height: 450px;
}