.main-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 1320px;
  margin-top: 125px;
  margin-left: 230px;
}

.initial-information {
  display: flex;
  gap: 40px;
}

.information-container {
  display: flex;
}

.icon-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c2120;
  height: 150px;
  width: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.icons {  
  width: 75px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  background-color: #F4F6FC;
  height: 150px;
  width: 150px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.number {
  font-family: 'Roboto';
  font-size: 45px;
  font-weight: bold;
}

.title {
  font-family: 'Roboto';
  font-size: 14px;
  letter-spacing: 1px;
}

.middle-section {
  display: flex;
  justify-content: space-between;
}

.sales-information { 
  display: flex;
  border-width: 1px;
  width: 750px;
  height: 415px;
  padding: 20px;
  box-shadow: 0px 0px 4px rgb(135, 135, 135);
  border-radius: 20px;
}

.sales-chart-section   { 
  height: 350px;
  width: 100%;
}

.chart-headers-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.chart-title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  color: #1c2120;
}

.sales-dropdown {
  background-color: black;
  color: white;
  padding: 4px 6px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.out-of-stock {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  width: 450px;
  height: 415px;
  padding: 20px;
  box-shadow: 0px 0px 4px rgb(135, 135, 135);
  border-radius: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  color: #1c2120;
  width: 100%;
  height: 40px;
}

.product-table {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.table-headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: #ede6e6;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;
  padding: 0px 15px;
  border-radius: 8px;
  margin-bottom: 3px;
}

.product-name { 
  margin-right: 80px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 300px;
}

.product-container {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 30px;
  padding: 0px 15px;
  background-color: rgb(240, 240, 240);
}

.product-pagination-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  background-color: #ede6e6;
  border-radius: 8px;
  margin-top: 3px;
}

.name {
  width: 150px;
  word-wrap: break-word;
  margin-right: 15px;
}

.product-category {
  text-align: center;
  width: 80px;
  margin-right: 35px;
}

.product-price {
  text-align: left;
  width: 60px;
  margin-right: 55px;
}

.product-stock {
  text-align: center;
  width: 15px;
}

.bottom-section {
  display: flex;
  gap: 38px;
  height: 400px;
}

.recent-orders {  
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  height: 360px;
  width: 790px;
  padding: 20px;
}

.recent-order-header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.order-header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border: none;
  padding: 0px 20px;
  background-color: #ede6e6;
}

.order-list {
  display: flex;
  flex-direction: column;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgb(153, 153, 153);
  height: 280px;
  gap: 5px;
  overflow-y: scroll;
}

.order-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 35px;
  padding: 0px 10px;
  background-color: rgb(240, 240, 240);
}

.customer-name { 
  width: 120px;
  margin-right: 60px;
}

.orderID {
  width: 200px;
  margin-right: 72px;
}

.total {
  width: 80px;
  margin-right: 120px;
}

.status {
  text-align: center;
  width: 80px;
}

.sales-category {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 360px;
  width: 450px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
}

.category-header {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

.category-section {
  width: 450px;
  height: 300px;

}

        