body {
  margin: 0px;
  align-content: center;
}

.login-bg {
  height: 100%;
  width: 100%;
  position: fixed;
}

.dim {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  position: fixed;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.4);
}

.login-container {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.user-details-section {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f6fc;
  height: 100%;
  width: 375px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  gap: 20px;
}

.title { 
  letter-spacing: 3px;
}

.username, .password {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  height: 28px;
  width: 250px;
  background-color: #f2efeb;
  border: none;
  outline: none;
  padding: 4px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
}

.username:hover, .password:hover {
  box-shadow: 0px 0px 4px black;
}

.username::placeholder, .password::placeholder {
  color: rgb(127, 127, 127);
}

.login-btn { 
  background-color: black;
  border: none;
  color: #f2efeb;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover { 
  opacity: 0.8;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c2120;
  height: 100%;
  width: 375px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo { 
  width: 350px;
  height: 350px;
  margin-top: 80px;
}





