.main-container {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  width: 1310px;
  margin-top: 115px;
  margin-left: 240px;
 
}

.filter-section {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 5px;
}

.status-filter {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 10px 50px 8px 10px;  
  border: none;
  background-color: #FAFAFA;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgb(107, 107, 107);
}

.date-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.date-picker { 
  padding: 11px 10px;
  border: none;
  border-radius: 8px;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 3px rgb(107, 107, 107);
}

.price-filter {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
}

.Min, .Max {
  font-size: 16px; 
  width: 100px;
  padding: 12px 0px 12px 10px;
  border: none;
  border-radius: 8px;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 3px rgb(107, 107, 107);
}

.search-filter {
  font-size: 16px;
  padding: 12px 70px 12px 10px;
  border: none;
  border-radius: 8px;
  background-color: #FAFAFA;
  margin-left: 140px;
  box-shadow: 0px 0px 3px rgb(107, 107, 107);
}

.order-details {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  width: 1310px;
  border-radius: 30px;
}

.order-details-header {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  border-bottom-style: solid;
  border-width: 2px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  padding: 0px 20px 0px 20px;
}

.header { 
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.order-list {
  display: flex;
  flex-direction: column;
  height: 520px;
}

.order-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 1px;
  height: 50px;
  padding: 0px 20px 0px 20px;
}

.details {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
}

.action-section {
  display: flex;
  width: 170px;
  justify-content: space-between;
}

.total {
  margin-left: 105px;
}

.order-date { 
  margin-left: 85px;
}

.status { 
  margin-left: 100px;
}

.update-btn, .view-btn {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}

.view-btn {
  background-color: #0047AB;
}

.update-icon, .view-icon {
  width: 25px;
  margin-right: 8px;
}

.pagination-section { 
  display: flex;
  align-items: center;
  height: 42px;
  justify-content: center;
}

.page-btn { 
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  margin-right: 5px;
  transition: 0.5s;
}

.page-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.view-btn:hover, .update-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  background-color: red;
  top: 0;
  left: 0;
  height: 100%;
  right: 0px;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-container {
  font-family: 'Assistant', sans-serif;
  background-color: white;
  height: 520px;
  width: 800px;
  padding: 5px 10px 20px 20px;
  border-radius: 20px;
}

.close-container {
  text-align: right;
  font-weight: bold;
  font-size: 28px;
}

.close:hover {
  color: red;
  cursor: pointer;
}

.header-container { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 10px;
}

.initial-order-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-details {
  line-height: 30px;
  width: 400px;
}

.right-details {
  width: 400px;
}

.view-initial-details { 
  font-weight: bold;
  padding-right: 10px;
}

.order-list-container {
  margin-top: 25px;
}

.view-order-header-section {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 6px;
}

.view-order-list {
  display: flex;
  flex-direction: column;
  height: 240px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
}

.view-order-container {
  display: flex;
  align-items: center;
  height:70px;
  margin-top: 5px;
}

.view-product-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 100%;
  border-style: solid;
  border-width: 1px;
}

.view-product-image { 
  width: 80px;
  height: 65px;
  object-fit: contain;
}

.view-order-product-details {
  align-content: center;
  font-size: 14px;
  height: 100%;
  width: 260px;
  margin-left: 10px;
}

.view-product-name {
  width: 240px;
  height: 35px;
  overflow: hidden;
}

.view-order-quantity, .view.order-subtotal { 
  height: 100%;
  width: 100px;
  align-content: center;
  text-align: center;
}

.view-order-subtotal { 
  margin-left: 285px;
}

.view-order-pagination-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.view-pagination-page-btn { 
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  margin-right: 5px;
  transition: 0.5s;
}

.view-pagination-page-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.view-order-total-section {
  text-align: right;
}

.view-order-total {
  font-weight: bold;
  margin-right: 10px;
}






