.main-container {
  border-style: solid;
  border-width: 2px;
  width: 1310px;
  height: 580px;
  margin-top: 170px;
  margin-left: 240px;
  border-radius: 30px;
}

.order-details-header {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  border-bottom-style: solid;
  border-width: 2px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  padding: 0px 20px 0px 20px;
}

.header { 
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.order-list {
  display: flex;
  flex-direction: column;
}

.order-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 2px;
  height: 50px;
  padding: 0px 20px 0px 20px;
}

.details {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
}

.action-section {
  display: flex;
  width: 170px;
  justify-content: space-between;
}

.total {
  margin-left: 105px;
}

.order-date { 
  margin-left: 85px;
}

.status { 
  margin-left: 100px;
}

.update-btn, .view-btn {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}

.view-btn {
  background-color: #0047AB;
}

.update-icon, .view-icon {
  width: 25px;
  margin-right: 8px;
}



