.main-container { 
  width: 1320px;
  height: 600px;
  margin-top: 125px;
  margin-left: 230px;
}

.filter-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 10px;
}

.filters { 
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-filter { 
  height: 35px;
  width: 250px;
  font-size: 15px;
  padding: 0px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(107, 107, 107);
  background-color: rgb(250, 250, 250);
}

.select-role, .status-filter { 
  font-size: 15px;
  width: 120px;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  box-shadow: 0px 0px 3px rgb(107, 107, 107);
  background-color: rgb(250, 250, 250);
}

.search-filter:hover, .select-role:hover, .status-filter:hover {
  box-shadow: 0px 0px 5px rgb(75, 75, 75);
}

.add-user-btn { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  border: none;
  padding: 9px 10px;
  border-radius: 5px;
  width: 115px;
  background-color: black;
  color: white;
  font-weight: bold;  
  cursor: pointer;
}

.add-user-btn:hover { 
  opacity: 0.8;
}

.add-icon { 
  width: 20px;
}

.user-section { 
  border-style: solid;
  border-width: 2px;
  height: 525px;
  border-radius: 25px;
}

.user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  border-bottom-style: solid;
  border-width: 2px;
  height: 40px;
  padding: 0px 20px;
  background-color: rgb(250, 250, 250);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.user-list {
  display: flex;
  flex-direction: column;
  height: 455px;
  overflow-y: scroll;
  border-bottom-style: solid;
  border-width: 2px;
}

.user-container { 
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom-style: solid;
  border-width: 1px;
}

.name { 
  text-align: center;
  width: 160px; 
  margin-right: 105px;
}

.role { 
  text-align: center;
  width: 80px;
  margin-right: 140px;
}

.status-section { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  margin-right: 130px;
}

.status { 
  background-color: #99e17a;
  color: #2e6417;
  font-weight: bold;
  text-align: center;
  width: 80px;
  padding: 3px 0px;
  border-radius: 10px;
}

.inactive { 
  color: white;
  background-color: red;
}

.last-login { 
  text-align: center;
  width: 150px;
  margin-right: 115px;
}

.password { 
  text-align: center;
  width: 150px;
  margin-right: 40px;
}


.action {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 100%;
}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  padding: 3px 10px 3px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.edit-btn:hover {
  opacity: 0.8;
}

.edit-icon { 
  width: 25px;
  margin-right: 10px;
}

.delete-btn { 
  background-color: white;
  border: none;
  cursor: pointer;
}

.delete-icon { 
  width: 25px;
}