.header { 
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  height: 55px;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
}

.first-block { 
  display: flex;
  width: 210px;
  align-items: center;
  padding-bottom: 2px;
}

.btn-hamburger { 
  border: none;
  background-color: white;
  margin-left: 14px;
  cursor: pointer;
}
.hamburger-icon { 
  width: 25px;
}

.btn-youtube {
  border: none;
  background-color: white;
  margin-left: 8px;
  cursor: pointer;
}
.youtube-icon { 
  width: 100px;
}

.second-block { 
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-width: 200px;
}

.second-block-section {
  display: flex;
  flex: 1;
  max-width: 470px;
  min-width: 0;
  margin-bottom: 1px;
  margin-right: 35px;
}

.search-bar-section {
  display: flex;
  flex: 1;
  min-width: 50px;
}

.search-bar { 
  display: flex;
  flex: 1;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  box-shadow: 0px 0px 1px grey;
  font-size: 16px;
  min-width: 0;
}

.search-buttons {
  display: flex;
}

.btn-search { 
  position: relative;
  padding-top: 6px;
  padding-left: 18px;
  padding-right: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  margin-right: 8px;
  cursor: pointer;
}

.search-tooltip { 
  visibility: hidden;
  position: absolute;
  bottom: -50px;
  left: 4px;
  background-color: rgb(99, 99, 99);
  color: white;
  padding: 8px;
}

.btn-search:hover .search-tooltip { 
  visibility: visible;
}

.search-icon {
  width: 28px;
}

.btn-voice-search { 
  position: relative;
  border: none;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}

.voice-search-tooltip { 
  visibility: hidden;
  position: absolute;
  width: 150px;
  bottom: -50px;
  left: -50px;
  background-color:rgb(99, 99, 99);;
  color: white;
  padding: 8px;
}

.btn-voice-search:hover .voice-search-tooltip { 
   visibility: visible;
}

.voice-search-icon {
  width: 25px;
}
.third-block { 
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 220px;
  padding-top: 15px;
  padding-right: 15px;
}
 
.btn-upload { 
  width: 25px;
  height: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.upload-tooltip { 
  visibility: hidden;
  position: relative;
  bottom: -45px;
  left: -20px;
  padding: 8px;
  color: white;
  background-color:rgb(99, 99, 99);;
}

.btn-upload:hover .upload-tooltip { 
  visibility: visible;
}

.upload-icon { 
  width: 25px;
}

.btn-youtube-app { 
  border: none;
  background-color: white;
  cursor: pointer;
}
.youtube-apps-icon { 
  width: 25px;
}

.btn-notifications {
  border: none;
  background-color: white;
  cursor: pointer;
}

.notifications-icon { 
  width: 25px;
}
.my-channel-icon{
  width: 35px;
  cursor: pointer;
}




