body { 
  font-family: roboto;
  margin-top: 80px;
  margin-left: 100px;
  background-color: rgb(247, 247, 247);
}

p { 
  margin: 0;
}

.grid-container { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
}

.thumbnail-section {
  position: relative;
}

.thumbnail { 
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.timestamp { 
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: white;
  background-color: black;
  bottom: 10px;
  right: 23px;
  padding: 4px;

}

.general-details { 
  display: grid;
  grid-template-columns: 40px 1fr;
}

.profile-icon { 
  margin-top: 8px;
  width: 36px;
  border-radius: 18px;
}

.video-details { 
  margin-top: 8px;
  margin-left: 6px;
}

.video-title { 
  font-size: 14px;
  font-weight: 500;
  width: 300px;
  line-height: 20px;
  margin-bottom: 10px;
}

.profile-name { 
  font-size: 12px;
  margin-bottom: 5px;
  opacity: 0.6;
}

.timeline {
  font-size: 12px;
  opacity: 0.6
}


