.sidebar { 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 55px;
  width: 75px;
  overflow: hidden;
  background-color: white;
}

.sidebar-button { 
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  font-size: 10px;
  cursor: pointer;
}

.sidebar-button:hover { 
  background-color: rgb(243, 243, 243);
}

.sidebar-icon { 
  width: 25px;
}

