body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29, 29, 29);
}

.game-title { 
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.rock-btn, .paper-btn, .scissors-btn { 
  background-color: black;
  padding: 35px;
  border-radius: 80px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
}

.rock-icon, .paper-icon, .scissors-icon {
  width: 50px;
}

.result { 
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.reset-btn, .autoplay-btn { 
  padding: 15px;
  padding-top: 10px ;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
}

.your-pick, .computer-pick { 
  display: inline-block;
  color: white;
}

.score { 
  color: white;
}
