
   body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
    color: darkcyan;
    margin: 0px;
    background: linear-gradient(to left top, yellow, lightblue, yellow);
  }

  p { 
    margin: 0;
  }

  .container { 
    color: darkcyan;;
    width: 480px;
    padding-left: 20px;
    box-shadow: 0px 0px 6px rgb(151, 151, 151);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .project-name { 
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .measurement { 
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }

  .input-number { 
    outline-style: none;
    font-size: 18px;
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.3); 
  }

  .result { 
    margin-top: 15px;
    margin-bottom: 35px;
  }
