.search { 
  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(228, 227, 227);
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
}




