.cat { 
  width: 55px;
  height: 55px;
  border-radius: 55px;
  vertical-align: middle;
  
  
}

.text { 
  font-size: 20px;
  margin-left: 2px;
  padding-top: 10px;
  padding-bottom: 12px;
  width: 320px;
  padding-left: 8px;
  border-style: solid;
  border: none;
  opacity: 0.9;
  vertical-align: middle;
  
}

button { 
  background-color: rgb(119, 175, 248);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  border-radius: 20px;
  vertical-align:middle;
  
}