.main-container {
  display: flex;
  flex-direction: column; 
  width: 1320px;
  margin-top: 120px;
  margin-left: 230px;
}

.customer-info {
  display: flex;
  height: 200px;
  margin-bottom: 15px;
}

.customer-info-first-section {
  line-height: 30px;
  height: 100%;
  width: 225px;
}

.select-order-type { 
  width: 184px;
  padding: 6px 0px 6px 10px;
  border-radius: 6px;
  border-style: solid;
}

.customer-info-input { 
  padding: 6px 0px 6px 14px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
}

.customer-info-second-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: baseline; 
  line-height: 30px;
  height: 100%;
  width: 250px;
}

.phone-number { 
  margin-bottom: 16px;
}

.customer-info-label { 
  font-weight: bold;
  color: rgb(21, 21, 21);
}

.add-order { 
  height: 80px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.add-order-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 35px;
  border-bottom-style: solid;
  border-width: 1px;
  padding: 0px 10px;
  background-color: rgb(250, 250, 250);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product { 
  margin-right: 440px;
}

.quantity, .unit-price { 
  margin-right: 200px;
}

.order-details {
  display: flex;
  align-items: center;
  height: 47px;
  padding: 0px 10px;
}

.select-product {
  text-align: left;
  width: 450px;
  padding: 5px;
  margin-right: 45px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(243, 243, 243);
}

.product-quantity {
  text-align: center;
  padding: 5px;
  width: 50px;
  margin-right: 182px;
}

.product-unit-price { 
  text-align: center;
  width: 100px;
  margin-right: 168px;
}

.product-subtotal { 
  text-align: center;
  width: 100px;
  margin-right: 150px;
}

.add-order-btn { 
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-icon { 
  width: 24px;
  height: 24px;
}

.order-details-list { 
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.order-details-box {
  padding: 20px;
  height: 315px;
  overflow-y: scroll;
}

.order-details-container { 
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  height: 40px;
}

.product-name { 
  margin-right: 90px;
  width: 400px;
}

.product-quantity-list {
  width: 50px;
  margin-right: 210px;
  text-align: center;
}

.product-price-list { 
  width: 100px;
  text-align: left;
  margin-right: 170px;
}

.product-subtotal-list { 
  width: 100px;
  text-align: left;
  margin-right: 125px;
}

.delete-btn { 
  border: none;
  background-color: white;
}

.delete-icon { 
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.pagination-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

.page-btn { 
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  margin-right: 5px;
  transition: 0.5s;
}

.page-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.create-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-order-btn { 
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.create-order-btn:hover {
  opacity: 0.9;
}

.total { 
  display: flex;
  align-items: center;
}

.order-total { 
  margin-right: 20px;
  font-weight: bold;
}

.total-input { 
  text-align: center;
  font-size: 16px;
  padding: 4px 0px;
}

.select-product-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  right: 0px;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.product-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  width: 1000px;
  border-radius: 10px;
  padding: 25px;
}

.search-filter { 
  width: 250px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-list-container { 
  height: 390px;
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  border-bottom-style: solid;
  border-width: 1px;
  padding: 0px 20px;
}

.product-list {
  display: flex;
  flex-direction: column; 
  height: 320px;
}

.product-container{
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-bottom-style: solid;
  border-width: 1px;
  padding: 0px 20px;
}

.product-container:hover {
  background-color: gainsboro;
}

.products-pagination-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height:30px;
}

.products-btn {
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  margin-right: 5px;
  transition: 0.5s;
}

.products-btn:hover { 
  background-color: black;
  color: white;
  cursor: pointer;
}

.modal-product-id { 
  width: 50px;
  text-align: center;
  margin-right: 90px;
}

.modal-product-name { 
  width: 300px;
  height: 34px;
  overflow: hidden;
  align-content: center;
  margin-right: 55px;
}

.modal-product-price { 
  width: 80px;
  margin-right: 130px;
}

.modal-product-stock { 
  width: 40px;
  margin-right: 95px;
}

.modal-product-category { 
  width: 120px;
  text-align: right;
  align-content: center;
}


