.main-container {
  width: 1320px;
  margin-top: 100px;
  margin-left: 230px;
}

.filter-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.filters {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Sales Report Filters */
.start-date, .end-date, .report-type {
  padding: 11px 10px;
  border: none;
  border-radius: 8px;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 3px rgb(107, 107, 107);
  cursor: pointer;
}

.start-date:hover, .end-date:hover, .report-type:hover { 
  box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
/*---------------------*/

/*Products Report*/
.category-filter, .status-filter {
  padding: 11px 10px;
  border: none;
  border-radius: 8px;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 3px rgb(107, 107, 107);
  cursor: pointer;
}
/*---------------*/

.reports-table {
  display: flex;
  flex-direction: column;
  height: 510px;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
}

.headers { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  border-bottom-style: solid;
  border-width: 2px;
  height: 35px;
  padding: 0px 30px;
}

.report-list { 
  display: flex;
  flex-direction: column;
  height: 440px;
}

.report-container {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 10px;
  border-bottom-style: solid;
  border-width: 1px;
}

/* Sales Report Filters */
.sale-date {
  margin-right: 312px;
}

.orders {
  text-align: center;
  width: 45px;
  margin-right: 355px;
}

.items-sold { 
  text-align: center;
  width: 45px;
  margin-right: 345px;
}

.total-sales {
  text-align: center;
  width: 100px;
}
/*---------------------*/

/*Product Report*/
.product-details {
  display: flex;
  justify-content: space-between;
  gap: 125px;
}

.product-name { 
  width: 400px;
  word-wrap: break-word;
  margin-right: 20px;
}

.product-category {
  text-align: center;
  width: 120px;
  margin-right: 85px;
}

.units-sold {
  text-align: center;
  width: 100px;
  margin-right: 100px;
}

.product-total-sales {
  text-align: center;
  width: 100px;
  margin-right: 130px;
}

.stocks { 
  text-align: center;
  width: 40px;
  margin-right: 115px;
}

.status {
  text-align: center;
  width: 80px;
}
/*---------------*/

.pagination-section {
  display: flex;
  align-content: center;
  justify-content: center; 
  height: 35px;
}

.pagination {
  align-content: center;
}

.page-btn { 
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  margin-right: 5px;
  transition: 0.5s;
}

.page-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.export-section {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  margin-top: 10px;
}

.export-btn {
  font-weight: bold;
  font-size: 15px;
  color: rgb(222, 222, 222);
  border: none;
  padding: 11px 10px;
  border-radius: 8px;
  background-color: black;
  cursor: pointer;
}

.export-btn:hover {
  opacity: 0.8;
}

