body {
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to left, lightblue, lightgreen);
  color: darkblue;
}
  
.note-app { 
  text-align: center;
}

.app-name { 
  font-size: 35px;
  font-weight: bold;
}

.instructions { 
  font-size: 18px;
} 

.grid-container { 
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 200px 200px 200px 200px;
  column-gap: 40px;
  row-gap: 40px;
  margin-left: 130px;
  margin-top: 70px;
}

.note-container { 
  font-size: 18px;
  font-weight: 500;
  padding: 18px 18px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 4px rgb(169, 169, 169);
  color: rgba(0, 0, 139, 1);
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  transition: 0.30s;
  resize: none;
  scrollbar-width: none;
}

.note-container::placeholder { 
  opacity: 0.3;
  font-size: 18px;
}

.note-container:hover { 
  box-shadow: 0px 0px 10px rgb(169, 169, 169);
} 


.add { 
  font-weight: bold; 
  font-size: 70px;
  border-radius: 15px;
  border-color: white;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.15s;
}

.add:hover { 
  opacity: 0.6;
}
