.container { 
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.your-order {
  font-size: 25px;
  font-weight:600;
  margin-top: 28px;
  margin-bottom: 28px;
}

.order-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(191, 191, 191);
  padding: 5px 2px 6px 2px
}

.btn-order-status {
  font-family: Roboto;
  font-size: 16px;
  padding: 10px 15px 10px 15px;
  width: 160px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.btn-order-status:hover { 
  background-color: rgb(47, 47, 47);
  color: white;
  font-weight: bold;
  transition: 0.9s; 
}

.orders-grid { 
  display: grid;
  grid-template-columns: 852px;
  row-gap: 50px;
  
}

.order-container {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
}

.first-section {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom-style: solid;
  border-width: 1px;;
  border-color: rgb(191, 191, 191);
  background-color: rgb(226, 226, 226);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.order-placed, .order-total, .order-id { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-placed-text, .order-total-text, .order-id-text { 
  font-weight: 600;
}

.order-placed {
  align-items: center;
  width: 150px;   
}

.order-total { 
  width: 350px;
}

.order-id { 
  width: 320px;
}

.second-section { 
  display: flex;
}

.order-details {
  display: flex;
  margin-bottom: 20px;
  width: 580px;
}

.product-image-section {
  width: 160px;
}

.product-image { 
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin-left: 15px;
}

.product-details {
  padding-top: 30px;
  padding-left: 5px;
  line-height: 25px;
  width: 420px;
}

.product-name { 
  font-weight: bold;
}

.buy-again-btn { 
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  padding: 2px 12px 2px 5px;
  background-color: rgb(255, 216, 20);
  cursor: pointer;
}

.buy-again-btn:hover { 
  background-color: rgb(239, 199, 0);
}

.buy-again-icon { 
  width: 30px;
  margin-right: 12px;
}

.track-package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.track-package-btn, .cancel-package-btn {
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  background-color: white;
  width: 200px;
  cursor: pointer;
}

.track-package-btn:hover, .cancel-package-btn:hover {
  font-weight: bold;
  color: white;
  background-color: rgb(47, 47, 47);
  transition: 0.9s;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: red;
  top: 0;
  left: 0;
  height: 100%;
  right: 0px;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-container {
   display: flex;
   flex-direction: column;
   background-color: white;
   height: 350px;
   width: 500px;
   padding: 20px;
}

.close-container {
   text-align: right;
   font-weight: bold;
   font-size: 28px;
}

.close:hover { 
  color: red;
  cursor: pointer;
}

.cancel-reason { 
  padding: 10px;
  margin-bottom: 20px;
}

.cancel-reminder {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: rgb(228, 0, 0);
  margin-top: 10px;
  margin-bottom: 40px;
}

.cancel-label { 
  font-weight: bold;
  color: rgb(55, 55, 55);
}

.cancel-reason { 
  margin-top: 10px;
}

.cancel-yes, .cancel-no {
  padding: 5px 10px 5px 10px;
  color: white;
  border: none;
  cursor: pointer;
}

.cancel-yes:hover, .cancel-no:hover { 
  opacity: 0.9;
} 

.cancel-yes { 
  background-color: rgba(32, 50, 208, 0.99);
}

.cancel-no {
  background-color: red;
}