.container { 
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.your-order {
  font-size: 25px;
  font-weight:600;
  margin-top: 28px;
  margin-bottom: 28px;
}

.order-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(191, 191, 191);
  padding: 5px 2px 6px 2px
}

.btn-order-status {
  font-family: Roboto;
  font-size: 16px;
  padding: 10px 15px 10px 15px;
  width: 280px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.btn-order-status:hover { 
  background-color: rgb(47, 47, 47);
  color: white;
  font-weight: bold;
  transition: 0.9s; 
}

.orders-grid { 
  display: grid;
  grid-template-columns: 852px;
  row-gap: 50px;
  
}

.order-container { 
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
}

.first-section {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom-style: solid;
  border-width: 1px;;
  border-color: rgb(191, 191, 191);
  background-color: rgb(226, 226, 226);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.order-placed, .order-total, .order-id { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-placed-text, .order-total-text, .order-id-text { 
  font-weight: 600;
}

.order-placed {
  align-items: center;
  width: 150px;   
}

.order-total { 
  width: 350px;
}

.order-id { 
  width: 320px;
}
.second-scection { 
  display: flex;
  flex-direction: column;
}

.order-details {
  display: flex;
  margin-bottom: 20px;
}

.product-image-section {
  width: 160px;
}

.product-image { 
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin-left: 15px;
}

.product-details {
  padding-top: 30px;
  padding-left: 5px;
  line-height: 25px;
  width: 420px;
}

.product-name { 
  font-weight: bold;
}

.buy-again-btn { 
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  padding: 2px 12px 2px 5px;
  background-color: rgb(255, 216, 20);
  cursor: pointer;
}

.buy-again-btn:hover { 
  background-color: rgb(239, 199, 0);
}

.buy-again-icon { 
  width: 30px;
  margin-right: 12px;
}

.track-package {
  display: flex;
  justify-content: center;
  align-items:start;
  width: 265px;
}

.track-package-btn {
  font-size: 15px;
  padding: 8px 60px 8px 60px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  background-color: white;
  margin-top: 30px;
  cursor: pointer;
}

.track-package-btn:hover {
  font-weight: bold;
  color: white;
  background-color: rgb(47, 47, 47);
  transition: 0.9s;
}