.products-list-container {
  visibility: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
  padding-top: 30px;
}

.product-list {
  font-size: 14px;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px;
  column-gap: 50px;
  row-gap: 20px;
  margin-bottom: 40px;

  a {
    text-decoration: none;
    color:  rgb(111, 111, 111);
  }

  a:hover {
    text-decoration: underline;
  }
}

.visible { 
  visibility: visible;
}


