.login-container {
  font-family: 'Assistant', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 460px;
}

.login-header { 
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.reminder { 
  color: #121212BF;
  margin-bottom: 45px;
  letter-spacing: 1px;
}

.email-box { 
  height: 52px;
  margin-bottom: 40px;
}

.email-input {
  font-size: 16px;
  width: 405px;
  padding: 15px 15px; 
  border-style: solid;
  border-width: 1px;
}

.email-input::placeholder { 
  font-size: 15px;
}

.email-input:hover { 
  box-shadow: 0px 0px 2px black;
}

.cancel { 
  color: #121212D9;
  font-size: 15px;
  text-decoration-color: black;
  text-underline-offset: 4px;
}

.cancel:hover { 
  text-decoration-thickness: 2px;
}

.submit-btn { 
  font-size: 14px;
  color: rgb(232, 232, 232);
  background-color: black;
  border: none;
  padding: 15px 40px 14px 40px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  cursor: pointer;
}

.submit-btn:hover { 
  opacity: 0.8;
}
