.main-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-container {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  margin-bottom: 50px;
  margin-top: 50px;
}

.first-section {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom-style: solid;
  border-width: 1px;;
  border-color: rgb(191, 191, 191);
  background-color: rgb(226, 226, 226);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.order-placed, .order-total, .order-id { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-placed-text, .order-total-text, .order-id-text { 
  font-weight: 600;
}

.order-placed {
  align-items: center;
  width: 150px;   
}

.order-total { 
  width: 350px;
}

.order-id { 
  width: 320px;
}

.second-section { 
  display: flex;
  flex-direction: column;
}

.order-details {
  display: flex;
  margin-bottom: 20px;
}

.product-image-section {
  width: 160px;
}

.product-image { 
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin-left: 15px;
}

.product-details {
  padding-top: 30px;
  padding-left: 5px;
  line-height: 25px;
  width: 420px;
}

.product-name { 
  font-weight: bold;
}

.track-container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  margin-bottom: 20px;
}

.order-stages {
  font-weight: bold;
  color: rgb(47, 47, 47); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-bottom: 8px;
}

.track { 
  border-style: solid;
  border-width: 1px;
  height: 20px;
  border-radius: 20px;
  border-color: rgb(191, 191, 191);
}

.shade { 
  background-color: green;
  height: 100%;
  width: 30px;
  border-radius: 20px;
}

.tracked { 
  color: green;
}

