.products-list {
  visibility: hidden;
  font-size: 14px;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  column-gap: 40px;
  row-gap: 30px;
  justify-content: center;
  margin-left: -20px;
  padding-top: 30px;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  height: 480px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgb(229, 229, 229);
  z-index: 200;
  background-color: white;
}

.products-list-visible { 
  visibility: visible;
}

.Accessories-list, .Tires-Tubes-list, .Apparel-list, .Bikes-list, .Helmets-list, .Parts {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-decoration: none;
}