  html, body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: sans-serif;
      height: 100%; 
      margin: 0;   
    }

    body { 
      background-image: url("https://images.unsplash.com/photo-1499002238440-d264edd596ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
      background-size: cover  ;
    }

    p, h2 {
      margin: 0;
    }

    h2 { 
      font-size: 14px;
      color: white;
      font-weight: 700;
      letter-spacing: 4px;
      margin-bottom: 16px;
    }

    .title-section { 
      width: 320px;
      padding-left: 100px;
    }

    .digital-clock {
      display: flex; 
      flex-direction: row;
    }

    .time-section { 
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      opacity: 0.8;
    }

   .time { 
      font-size: 50px;
      font-weight:500;
      color: white;
      padding: 10px 20px;
      background-color: slateblue;
      text-shadow: 1px 1px 4px rgb(70, 70, 70); 
      
   }

   .sub-time { 
      color: white;
      background-color: darkblue;
      font-size: 10px;
      font-weight: 500;
      padding: 10px 20px;
      text-align: center;
      letter-spacing: 2px;
   }

   .time-system { 
      color: white;
      font-size: 20px;
      font-weight: 500;
      padding: 5px 15px;
      background-color: green;
      opacity: 0.8;
      margin-top: 75px
   }